.user-search{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    &__input{
        outline: none;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 4px;
        width: 300px;
        margin-right: 20px;
    }
    &__button{
        cursor: pointer;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 4px;
    }
    &__result-count{
        margin-top: 15px;
        width: 100%;
    }
}