@import '../../var.scss';

.singlepost{
    margin-bottom: 0;
    border-bottom: none;
    &__email{
        margin-top: 15px;
    }
    &__title{
        cursor: pointer;
        display: inline-block;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            height: 2px;
            width: 100%;
            transform: scaleX(0);
            overflow: hidden;
            transition: .3s ease;
            background-color: #000000;
        }
        &:hover{
            &::before{
                transform: scaleX(1);
            }
        }
    }
    &__comments-title{
        margin-top: 40px;
    }
    &__comments-comment{
        margin-bottom: 20px;
    }
    &__comments-email{
        margin-bottom: 10px;
        font-weight: bold;
    }
    &__comment-form{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
    }
    &__add-email,
    &__add-text{
        width: 100%;
        resize: none;
    }
    &__add-email,
    &__add-text,
    &__form-submit{
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid grey;
    }
    &__form-submit{
        cursor: pointer;
        display: inline-flex;
    }
}

.comment-popup{
    width: 100%;
    // max-width: 290px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 99;
    cursor: default;
}