body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  word-break: break-word;

  &::before,
  &::after {
    box-sizing: border-box;
    display: block;
  }
}

input,
textarea,
button {
  outline: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  max-width: 100%;
}
h1 {
  font-size: 2em;
  margin-bottom: 30px;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul,
ol {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
}

img {
  pointer-events: none;
}

.pagination {
  * {
    outline: none;
  }
  margin-top: 50px;
  display: flex;
  align-items: center;
  &__break {
    margin-right: 10px;
  }
  &__prev,
  &__next {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 4px;
  }
  &__prev {
    margin-right: 10px;
  }
  &__num {
    margin-right: 10px;
    a {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 5px;
      border: 1px solid grey;
      border-radius: 4px;
      transition: 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
    }
    &_active a {
      cursor: default;
      pointer-events: none;
      background-color: rgba(128, 128, 128, 0.3);
    }
  }
}
